PROJECT="project"
WORKSPACE="name"
SCHEME="app"
RESOURCES_FOLDER="Resources"
INFO_PLIST_PREFIX="app"
APPLICATION_BUNDLE_NAME="app"
APPLICATION_PACKAGE_NAME="name"
ADHOC_CERTIFICATE_NAME="iPhone Distribution: Account Name"
ADHOC_PROVISONING_PROFILE="Profile ID"
APPSTORE_CERTIFICATE_NAME="iPhone Distribution: Account Name"
APPSTORE_PROVISONING_PROFILE="Profile ID"
CFBundleDisplayName="Name"
CFBundleIdentifier="bundle.id"
UILaunchImageFile="resources.bundle/project-Default"
